In [2]:
import pandas as pd
from vUtil.vTime import getNow

In [4]:
expert_file = 'a.json'
increment = 3000

In [8]:
def start_execute():

    this_updated_at = getNow()
    record_df = pd.read_json(expert_file,lines=True,orient='records')  
    lu_time = record_df['last_updated_time'][0]
    tu_time = this_updated_at
    execute_times = 1
    start_num = 0
    temp_num = 0
    
    print('本次需融合',execute_times,'批数据')
    for index in range(execute_times):
        start_num = temp_num
        temp_num += increment
        print('融合第',index+1,'批企业')
        record_df = tyc_to_landinn(lu_time,tu_time,record_df,start_num)
    
    record_df['last_updated_time'] = [tu_time]
    record_df['execute_complete_time'] = [getNow()]     
#     record_df.to_json(expert_file,orient='records',lines=True)
    
    
def tyc_to_landinn(lu_time,tu_time,record_df,start_num):
    
    # 查询天眼查企业数据 -- enterprise



            

        eid = 1
        record_df['eid'] = [eid]
        display(record_df)
        record_df.to_json(expert_file,orient='records',lines=True)


            
               
        print('*************************','\n')
        print('所有企业融合完成','\n')
        print('*************************','\n')
        return record_df

In [5]:
x = pd.read_json(expert_file,lines=True,orient='records')

In [6]:
display(x)
print(x)

   eid execute_complete_time   last_updated_time
0    1   2021-05-12 16:15:27 2021-05-12 16:15:27

   eid execute_complete_time   last_updated_time
0    1   2021-05-12 16:15:27 2021-05-12 16:15:27

In [13]:
x.last_updated_time

0   2021-05-12 16:15:27
Name: last_updated_time, dtype: datetime64[ns]

In [14]:
y = pd.read_csv('b.csv')

In [15]:
y

                  time
0  2021-04-22 23:59:00
1  2021-05-11 15:48:51

In [16]:
y.time

0    2021-04-22 23:59:00
1    2021-05-11 15:48:51
Name: time, dtype: object

In [9]:
            
if __name__ == '__main__':
    start_execute()

本次需融合 1 批数据
融合第 1 批企业

   eid execute_complete_time   last_updated_time
0    1   2021-05-12 16:15:27 2021-05-12 16:15:27

*************************

所有企业融合完成

*************************