In [4]:
import pandas as pd

In [8]:
path = r'C://Users/ict/LymphV/ICT2020/专家推荐阶段一/'

In [3]:
file = 'field'

In [19]:
data = pd.read_excel(path + file + '.xlsx')

In [20]:
len(data)

20013

In [21]:
data[:5]

     f1     f2            f3
0  材料科学  高分子化学          PLGA
1  材料科学  高分子化学  1,1,1-三羟甲基丙烷
2  材料科学  高分子化学        聚酰胺酰亚胺
3  材料科学  高分子化学       霍夫曼成核理论
4  材料科学  高分子化学     PolyAPTAC

In [15]:
table = 'discipline_keyword'

In [14]:
sqlStart = '''
SET NAMES utf8mb4;

SET FOREIGN_KEY_CHECKS = 0;
'''

In [16]:
sqlCreate = f'''

DROP TABLE IF EXISTS `{table}`;

CREATE TABLE `{table}`  (

  `id` bigint(20) NOT NULL AUTO_INCREMENT,

  `f1` varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci NULL DEFAULT NULL,
  `f2` varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci NULL DEFAULT NULL,
  `f3` varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci NULL DEFAULT NULL,

  PRIMARY KEY (`id`) USING BTREE

) ENGINE = InnoDB CHARACTER SET = utf8 COLLATE = utf8_general_ci ROW_FORMAT = Dynamic;
'''

In [31]:
sqlInsert = f'''
INSERT INTO `{table}` (f1, f2, f3) values ("%s", "%s", "%s");
'''

In [18]:
sqlInsert

'\ninsert into `discipline_keyword` (f1, f2, f3) values (%s, %s, %s)\n'

In [13]:
sqlEnd = 'SET FOREIGN_KEY_CHECKS = 1;'

In [32]:
with open(path + file + '.sql', 'w', encoding='utf-8') as f:
    f.write(sqlStart)
    f.write(sqlCreate)
    for f1, f2, f3 in data.values:
        f.write(sqlInsert % (f1, f2, f3))
    f.write(sqlEnd)